global
  # See https://www.haproxy.com/documentation/hapee/latest/onepage/#8.2.3
  # for details of log format
  log stdout format raw local0

defaults
  mode http
  log global
  log-format '{"time": "%tr", "server_queue_size": %sq, "backend_queue_size": %bq, "request": %{+Q}r}'
  timeout client 60s
  timeout connect 5s
  timeout server 60s
  timeout http-request 60s

frontend myfrontend
  bind 0.0.0.0:8888
  default_backend hintr
  stats enable
  stats uri /stats
  stats refresh 10s
  stats admin if TRUE

backend hintr
  mode http
  balance leastconn

userlist haproxy-dataplaneapi
  user admin insecure-password mypassword

program api
  command dataplaneapi
  no option start-on-reload
